@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
    --navbar-background-color: #f2f2f2;
    --navbar-item-hovered-color:white;
    --navbar-separator-color:#ececec;
    --navbar-icon-color:#646c79;
    --navbar-text-color:black;
    --navbar-transition-speed: .2s;
    --primary-color:#7C4DFF;
    --navbar-logo-background-color:#e2dfe4;
  }
  
  .background {
    background-image: url("/ape-4273153_1920.jpg");
  }



  html, body {
    margin:0;
    font-family: 'Source Sans Pro';
    font-size:16px;
    color:black ;

    font-family: 'Happy Monkey', cursive;
  }
  
  main {
    padding: 1rem 4rem;
    margin-left: 5rem;
    text-align: justify;
  }
  
  .navbar {
    width:5rem;
    position:fixed;
    top:0px;
    left:0px;
    bottom:0px;
    background:var(--navbar-background-color);
    box-shadow: rgba(12,43, 30, 0.2) 0 4px 14px;
    transition: width var(--navbar-transition-speed) ease;
  }
  
  .navbar:hover {
    width:15rem;
  }
  
  .navbar-menu {
    list-style: none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;
  }
  
  .navbar-item {
    width: 100%;
    border-bottom:solid 1px var(--navbar-separator-color);
    transition: background-color var(--navbar-transition-speed);
  }
  
  .navbar-item:hover {
    background-color:var(--navbar-item-hovered-color);
  }
  
  .navbar-item:last-child {
    margin-top:auto;
  }
  
  .navbar-link {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    height:5rem;
    width:100%;
    text-decoration: none;
  }
  
  .navbar-icon {
    text-align: center;
    font-size: 1.5rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color:var(--navbar-icon-color);
    transition:var(--navbar-transition-speed);
  }
  
  .navbar-item:hover .navbar-icon {
    color:var(--primary-color);
  }
  
  .navbar-title {
    color:var(--navbar-text-color);
  }
  
  .navbar:not(:hover) .navbar-title {
    display:none;
  }
  
  .logo {
    background:var(--navbar-logo-background-color);
  }
  
  .logo .navbar-title {
    font-size:1.5rem;
    font-weight:bold;
    margin-left:1.5rem;
  }
  
  .navbar:hover .logo .navbar-icon {
    transform:rotate(180deg);
  }
  
  /*
  ** RESPONSIVE
  */
  
  @media only screen and (max-width:1024px) {
    .navbar {
      top:auto;
      width:100%;
      bottom:0px;
    }
  
    .navbar:hover {
      width:100%;
    }
  
    .navbar-menu {
      flex-direction: row;
    }
  
    .logo {
      display:none;
    }
  
    main {
      margin-left:0;
      margin-bottom:5rem;
    }
  
    .navbar:hover .navbar-title {
      display:none;
    }
  
    .navbar-icon {
      min-width:auto;
      margin:0;
    }
  
    .navbar-link {
      justify-content: center;
    }
  }

  .formito {
    margin: 0px;
    padding: 0px;
    background-color: #fef1df;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  
  form {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
  }
  form h1 {
    font-size: 20px;
  }
  form .separation {
    width: 100%;
    height: 1px;
    background-color: #747cdf;
  }
  form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  form .corps-formulaire .groupe {
    position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
  }
  form .corps-formulaire .gauche .groupe i {
    position: absolute; /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #747cdf;
  }
  form .corps-formulaire .droite {
    margin-left: 40px;
  }
  form .corps-formulaire .droite .groupe {
    height: 100%;
  }
  form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
  }
  form .pied-formulaire button {
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
  form .pied-formulaire button:hover {
    transform: scale(1.05);
  }
  
  @media screen and (max-width: 920px) {
    form .corps-formulaire .droite {
      margin-left: 0px;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}